*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

.center_flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

body{
  overflow: hidden;
}

#background_canvas{
  width:100%;
  height:100vh;
  /* background-color: black; */
}
.background{
  width:100%;
  height:100vh;
  /* background-color: black; */
  position: relative;
}
#photos{
  width:100%;
  height:40%;
  right:0;
  left:-3%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  padding-left: 15%;
}

.photo_wrapper{
  width:100%;
  height:100%;
  display: inline-block;
  /* position: relative; */
}

.photo_wrapper h1{
  position: relative;
  width: 55%;
}

#photos img{
	height: 100%;
	width: auto;
  /* position: absolute; */
  border-radius: 40.56px;
  position: relative;
  left:0;
  right:0;
  margin:auto;

}



#photos .text{
  /* text-align: center; */
}

.btn{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border-radius: 40.56px;
	color: #fff;

	font-weight: 50;
	font-size: 2vmin;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-content: center;
}


#enter_button{

  width: 20%;
  height: 8%;
  left:0;
  right:0;
  margin:auto;
  margin-top:15%;
  background-color: aqua;
  position: relative;
  box-shadow: 0px 5px 132.24px 10px rgba(5, 145, 238, 1);
}

#enter_button > span{
	text-decoration: none;
  display: inline-block;
  font-size: 2vmin;
}

#enter_button:hover{
	box-shadow: 0px 5px 132.24px 19.76px rgba(238, 5, 169, 1);
}  

#enter_button > a{
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#description_button{

  width: 20%;
  height: 8%;
  left:0;
  right:0;
  margin:auto;
  margin-top:2%;
  background-color:rgba(238, 5, 169, 1);
  position: relative;
  box-shadow: 0px 5px 132.24px 10px rgba(238, 5, 169, 1);
}

#description_button > span{
	text-decoration: none;
  display: inline-block;
  font-size: 2vmin;
}

#description_button:hover{
	box-shadow: 0px 5px 132.24px 19.76px aqua;
}  

#description_button > a{
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#left_description_wrapper{
  position: absolute;
  width: 20%;
  height: 20%;
  left:0;
  top:55%;
}
#right_description_wrapper{
  position: absolute;
  width: 15%;
  height: 20%;
  right:0;
  left:0;
  margin:auto;
  text-align: center;
}

#left_description{
  position: absolute;
  text-align: center;

  width: 100%;
  height: 20%;

  left: 10%;
  top: 50%;

  font-size: 3vmin;
}
#right_description{
  position: absolute;
  text-align: center;
  top: 15%;
  width: 100%;
  height: 20%;
  left:0;
  font-size: 2vmin;
}

.blur{
  background: rgba(0,0,0, 0.5);
  filter: blur(0.5px);
}

#blur_effect{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  height: 40%;
  width: 100%;
}


.enter_background{
  position: absolute;
  height: 100vh;
  width: 100%;
  top:0;
  left:0;
  background: #fff;
  filter: blur(0.5px);
}

.enter_background > .enter_background_img{
  position: relative;
  height: 80%;
  width: 100%;
  top:0;
  left:0;

}

.enter_background > .description{
  position: relative;
  width: 50%;
  height: 10%;
  left:0;
  right:0;
  top: 10%;
  margin: auto;
  text-align: center;
  font-size: 2vmin;
}

#description_view{
  visibility: hidden;
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  /* background: white; */
}


#description_view > .blur{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  height: 100%;
  width: 100%;
}

#description_view > #description{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  margin:auto;
  height: 100%;
  width: 80%;
  border-radius: 20%;
  background: white;
}



#description > .close_button{
  width: 5vmin;
  height: 5vmin;
  border-radius: 100%;
  right:10%;

  margin-top:2%;
  border-color: rgba(238, 5, 169, 1);
  border-style: solid;
  position: absolute;
  box-shadow: 0px 1px 132.24px 1px rgba(238, 5, 169, 1);
  background: rgba(238, 5, 169, 1);
  color:black;
}

#description > .next_button{
  width: 13vmin;
  height: 13vmin;
  border-radius: 100%;
  right:10%;
  bottom:5%;

  border-style: solid;
  position: absolute;

  color:black;
}

#description > .prev_button{
  width: 13vmin;
  height: 13vmin;
  border-radius: 100%;
  bottom:5%;

  border-style: solid;
  position: absolute;

  color:black;
  left:10%;
}

.arrow {
  display: inline-block;
	background: rgba(238, 236, 233, 0.8);
  transform: rotate(-90deg);
  box-shadow: 0px 1px 132.24px 1px aqua;
  background: rgba(238, 236, 233, 0.8);
  border-color: rgba(238, 236, 233, 0.8);
}

.arrow img{
	width: 50%;
	height: auto;
	right:0;
	left: 0;
	top:0;
	bottom:0;
	margin: auto;
	position: absolute;
	animation: arrow-animation 2s normal infinite;
}
#description > .prev_button{
  transform: rotate(90deg);
}
/* #description > .close_button > span{
	text-decoration: none;
  display: inline-block;
  font-size: 1vmin;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40%;
  background: none;
} */

#description > .close_button:hover{
	box-shadow: 0px 5px 132.24px 19.76px aqua;
}  
#description > .next_button:hover{
	box-shadow: 0px 5px 132.24px 19.76px rgba(238, 5, 169, 1);
}  
#description > .prev_button:hover{
	box-shadow: 0px 5px 132.24px 19.76px rgba(238, 5, 169, 1);
}  
/* 
#description > .close_button > a{
  top:0;
  right:0;
  width: 100%;
  height: 100%;d_ctx.moveTo(Math.abs(this.axes_start[0] - this.axes_end[0]) + this.axes_start[0], this.axes_start[1] + this.arrow_size * Math.cos(Math.PI / 6))
  position: absolute;
  background: none;
} */

#description > .field_Description{
  top:5%;
  right:0;
  left:0;
  margin:auto;
  width: 60%;
  height: 100%;
  position: absolute;
  font-size: 2vmin;
  text-indent: 3vmin;
}


#description{
  overflow-y: visible;
  border-color:aqua;
  border-style: solid;
}
#description::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
#description::-webkit-scrollbar-thumb {
  background: #FF0000;
}

#field_Description1 ~ *:not(.btn){
  visibility: hidden;
}

#phys_background > .phys{
  background: url("../data/phys.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}

#cmc_background > .cmc{
  background: url("../data/cmc.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}

#msu_background > .msu{
  background: url("../data/msu.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}




@keyframes arrow-animation{
	0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
